<ng-template #content let-modal>
    <div class="card m-1 rounded {{pokemons[selectedPokemon - 1].types[0].type.name}}">
        <img src="{{pokemons[selectedPokemon - 1].sprites.other['official-artwork'].front_default}}" class="card-img-top w-50 mx-auto" alt="...">
        <div class="card-body">
            <h5 class="card-title text-white">{{pokemons[selectedPokemon - 1].name | titlecase}}</h5>
            <span *ngFor="let tags of pokemons[selectedPokemon - 1].types">
                <span class="badge rounded-pill {{tags.type.name}}-tag m-1">{{tags.type.name}}</span>
            </span>
        </div>
    </div>

    <div class="container">
        <h3>Stats</h3>
        <div  *ngFor="let stats of pokemons[selectedPokemon - 1].stats">
            <p>{{stats.stat.name}}</p>
            <p><ngb-progressbar type="success" [value]="stats.base_stat"></ngb-progressbar></p>
        </div>
    </div>
  </ng-template>
  
  <hr>

<div class="row">
    <div *ngFor="let item of pokemons" class="col-3">
        
        <div class="card m-1 rounded {{item.types[0].type.name}}" (click)="open(content, item.id)">
            <img src="{{item.sprites.other['official-artwork'].front_default}}" class="card-img-top w-100 mx-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{item.name | titlecase}}</h5>
                <span *ngFor="let tags of item.types">
                    <span class="badge rounded-pill {{tags.type.name}}-tag m-1">{{tags.type.name}}</span>
                </span>
            </div>
        </div>
        
    </div>
</div>
